.component-container {
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  gap: 1rem;
}

.incomeForm-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(145, 207, 145);
}

.expenceForm-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(229, 163, 133);
}

.targetSaving-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(133, 173, 229);
}
