.component-container {
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  gap: 1rem;
}

.income-form-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(133, 173, 229, 0.549);
}

.expense-form-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(229, 163, 133, 0.549);
}

.target-saving-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  background-color: rgb(145, 207, 145, 0.549);
}

.error {
  color: red;
}
